body {
  font-family: "Latin Modern Roman", "CMU Serif", "Iowan Old Style", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
}
code {
  font-family: "Latin Modern Mono", "CMU Typewriter Text", "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
